body {
    background-color: black;
    background-image: url("./caraba.webp");
    background-position: top;
    background-repeat: no-repeat;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    background-color: lightgrey;
    border: none;
    padding: 10px;
}

#content {
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flashy {
    transition: opacity ease 2s;
}

#question, #answer {
    font-size: 3em;
}

